.phoneFrame {
    width: 3.8in;
    height: 6.5in;
    border: 10px solid black;
    background: linear-gradient(#110B2A, 65%,  #2c4738);
    overflow-x: hidden;
    overflow-y: scroll;
}
.workoutBody {
    margin: 10px;
    padding: 15px;
    background: #262A35;
    border-radius: 10px;
}
.workoutBody p {
    white-space: pre-line;
    font-size: 16px;
    color: white;
    font-family: 'Trebuchet MS';
}
.workoutBody h2 {
    white-space: pre-line; 
    color: white;
}
.workoutBody p code {
    background-color: rgba(238, 255, 0, 0.19);
    color: rgb(217, 247, 214)
}
.workoutBody ol code {
    background-color: rgba(238, 255, 0, 0.19);
    color: rgb(217, 247, 214)
}
.workoutBody ul code {
    background-color: rgba(238, 255, 0, 0.19);
    color: rgb(217, 247, 214)
}
.workoutBody pre {
    background-color: #212038;
    color: gray;
    padding: 10px;
    white-space: pre-line; 
    margin-top: 0;
}
.workoutBody table {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.workoutBody thead {
    background-color:#83eaff;
    color: black;
} 
.workoutBody th {
    padding: 5px;
}

.workoutBody tbody tr {
    background-color: #252a36;
}

.workoutBody td {
    padding: 5px;
    color: white;
}
.codeTopBar {
    content: "";
    display: block;
    height: 20px;  /* Adjust as needed */
    background-color: #3A3D54;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}
.workoutBody ol {
    color: white;
    font-size: 16px;
}
.workoutBody ul {
    color: white;
    font-size: 16px;
}

.workoutBody blockquote {
    background-color: #4ed0ea54;
    margin-left: 0;
    margin-right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.hljs-built_in{
    color: #bd93f9
}
.hljs-keyword {
    color: #bd93f9
}
.hljs-number{
    color: #ffb86c
}
.function_ {
    color: #8be9fd
}
body {
    justify-content: center;
    align-items: center;
}